:root{
  /* Paleta */
  --blue-900:#0C2D48;   /* azul profundo (texto principal) */
  --blue-700:#145DA0;   /* borde/acentos */
  --blue-500:#2E8BC0;   /* foco/hover */
  --blue-300:#B1D4E0;   /* detalles suaves */
  --cream-50:#FFF7EA;   /* fondo crema claro */

  --radius-xl:16px;
  --shadow-1:0 6px 16px rgba(0,0,0,.08);
}

html,body{height:100%}
body{
  margin:0;
  background:var(--cream-50);
  color:var(--blue-900);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height:1.4;
}/* You can add global styles to this file, and also import other style files */
